<% if logged_in? %>
  <div class="row">
    <aside class="col s12 m5">
      <div class="card-panel blue-grey lighten-5 marginTop">
        <%= render 'shared/user_basic' %>
        <div class="micropost_form">
          <%= render 'shared/micropost_form' %>
        </div>
      </div>
    </aside>
    <div class="col s12 m7 marginTop">
      <h3 class="center-align blue-grey-text">Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="background-image">
    <div class="container">
      <div class="row valign-center">
        <div class="card-panel center-align transparent welcome">
          <h1 class="blue-grey-text text-lighten-5 first-home-header">SOCIAL POSTS</h1>
          <h2 class="white-text second-home-header">get all your posts in one place</h2>
          <%= link_to "Sign up now!", signup_path, class: "waves-effect waves-light btn blue btn-large z-depth-5" %>
        </div>
      </div>
    </div>
  </div>
  <div class="container center-align">
    <div class="row howToWorks">
      <h2 class="blue-grey-text">How to works?</h2>
      <div class="col s12 m7 offset-m5 center-align">
        <div class="card blue darken-4 card-how-works white-text">
          <div class="card-content">
            <i class="material-icons large">assignment_ind</i>
            <span class="card-title">Registration</span>
            <p>Registration is very simple. Just click on the link, then you enter your name, email, password and activate your account by email.</p>
          </div>
          <div class="card-action center-align">
            <%= link_to "SIGNUP", signup_path %>
            <%= link_to "LOGIN", login_path %>
          </div>
        </div>
      </div>
      <div class="col s12 m7 center-align">
        <div class="card transparent blue-text text-darken-4 card-how-works">
          <div class="card-content card-content-how-works">
            <i class="material-icons large">mode_edit</i>
            <span class="card-title">Write posts</span>
            <p>Have you memories from your vacation? Excellent! Describe it on Social Posts. Write us where were you.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m7 offset-m5 center-align">
        <div class="card blue darken-4 card-how-works white-text">
          <div class="card-content card-content-how-works">
            <i class="material-icons large">group</i>
            <span class="card-title">Enjoy with friends</span>
            <p>Follow your friends. You could share information about yourself. Enjoy the moment!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>