<% provide(:title, "Log in") %>

<div class="row">
  <div class="col s12 m6 offset-m3">
    <h2 class="center-align blue-grey-text">Log in</h2>
    <%= form_for(:session, url: login_path) do |f| %>
      <div class="input-field col s12 m6 offset-m3">
        <%= f.email_field :email %>
        <%= f.label :email %>
        <span class="helper-text" data-error="wrong" data-success="right"></span>
      </div>
      <div class="input-field col s12 m6 offset-m3">
        <%= f.password_field :password %>
        <%= f.label :password %>
      </div>
      <div class="input-field col s12 m6 offset-m3">
        <p>
          <%= f.label :remember_me do %>
            <%= f.check_box :remember_me, class: "blue-checkbox" %>
            <span class="black-text">Remember me on this device</span>
          <% end %>
        </p>
      </div>
      <div class="col s12 m6 offset-m3">
        <div class="center-align">
          <%= f.button type: "submit", name: "action", class: "btn btn-large waves-effect waves-light blue white-text" do %>
            Log in <i class="material-icons right">keyboard_tab</i>
          <% end %>
          <p>New user? <%= link_to "Sign up now!", signup_path %></p>
          <p>Did you forget your password? <%= link_to "Change password", new_password_reset_path %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>  
