<% provide(:title, "Reset password") %>

<div class="row">
  <div class="col s12 m6 offset-m3">
    <h2 class="center-align">Reset password</h2>
    <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= hidden_field_tag :email, @user.email %>

      <div class="input-field col s12 m6 offset-m3">
        <%= f.password_field :password %>
        <%= f.label :password %>
      </div>
      <div class="input-field col s12 m6 offset-m3">
        <%= f.password_field :password_confirmation %>
        <%= f.label :password_confirmation, "Confirmation" %>
      </div>

      <div class="col s12 m6 offset-m3">
        <div class="center-align">
          <%= f.button type: "submit", name: "action", class: "btn btn-large waves-effect waves-light blue white-text" do %>
            Update password<i class="material-icons right">keyboard_tab</i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
