<% provide(:title, "Forgot password") %>

<div class="row">
  <div class="col s12 m6 offset-m3">
    <h2 class="center-align">Forgot password</h2>
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
      <div class="input-field col s12 m6 offset-m3">
        <%= f.email_field :email %>
        <%= f.label :email %>
        <span class="helper-text" data-error="wrong" data-success="right"></span>
      </div>
      <div class="col s12 m6 offset-m3">
        <div class="center-align">
          <%= f.button type: "submit", name: "action", class: "btn btn-large waves-effect waves-light blue white-text" do %>
            Submit<i class="material-icons right">keyboard_tab</i>
          <% end %>
          <p>New user? <%= link_to "Sign up now!", signup_path %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
