<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="input-field col s12 m6 offset-m3">
    <%= f.text_field :name, class: "validate" %>
    <%= f.label :name %>
  </div>
  <div class="input-field col s12 m6 offset-m3">
    <%= f.email_field :email, class: "validate" %>
    <%= f.label :email %>
    <span class="helper-text" data-error="wrong" data-success="right"></span>
  </div>
  <div class="input-field col s12 m6 offset-m3">
    <%= f.password_field :password %>
    <%= f.label :password %>
  </div>
  <div class="input-field col s12 m6 offset-m3">
    <%= f.password_field :password_confirmation %>
    <%= f.label :password_confirmation, "Confirmation" %>
  </div>
  <div class="col s12 m6 offset-m3">
    <div class="center-align">
      <%= f.button type: "submit", name: "action", class: "btn btn-large waves-effect waves-light blue white-text" do %>
        Create <i class="material-icons right">check</i>
      <% end %>
    </div>
  </div>
<% end %>