<%= form_for(current_user.active_relationships.find_by(followed_id: @user.id), html: { method: :delete }, remote: true) do |f| %>
  <%= f.submit "Unfollow", class: "btn btn-large waves-effect waves-light blue-grey lighten-3 black-text" %>
<% end %>