<% provide(:title, "Edit user") %>

<div class="row">
  <div class="col s12 m6 offset-m3">
    <h2 class="center-align blue-grey-text">Update your profile</h2>
      <%= render 'form' %>
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">change</a>
    </div>
  </div>
</div>
