<% provide(:title, "All users") %>

<div class="row">
  <div class="col s12 m6 offset-m3">
    <h2 class="center-align blue-grey-text">All users(<%= @users.count %>)</h2>
    <%= will_paginate @users, renderer: MaterializeRenderer, class: "center-align pagination" %>
    <ul class="collection">
      <%= render @users %>
    </ul>
  </div>
</div>