<%= provide(:title, @title) %>

<div class="row">
  <aside class="col s12 m5">
    <%= render 'shared/user_info' %>
  </aside>

  <div class="col s12 m6 offset-m1 marginTop">
    <% if @users.any? %>
      <h3 class="center-align blue-grey-text"><%= @title %></h3>
      <ul class="users follow">
        <%= render @users %>
      </ul>
      <%= will_paginate @users, renderer: MaterializeRenderer, class: "center-align pagination" %>
    <% else %>
      <h3 class="center-align blue-grey-text">Not found :(</h3>
    <% end %>
  </div>
</div>