<%= provide(:title, @user.name) %>

<div class="row">
  <aside class="col s12 m5">
    <%= render 'shared/user_info' %>
  </aside>
  <div class="col s12 m7 marginTop">
    <% if @user.microposts.any? %>
      <h3 class="center-align blue-grey-text"><%= pluralize(@user.microposts.count, "Micropost") %></h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts, renderer: MaterializeRenderer, class: "center-align pagination" %>
    <% else %>
      <h3 class="center-align blue-grey-text">Not found a posts :(</h3>
    <% end %>
  </div>
</div>