<% if object.errors.any? %>
      <div class="card-panel red lighten-5 red-text text-darken-4">
        I've found errors
        <span class="new badge red"><%= pluralize(object.errors.count, "error") %></span>
      </div>
      <ul class="with_dot">
        <% object.errors.full_messages.each do |msg| %>
        <li class="red-text"><%= msg %></li>
        <% end %>
      </ul>
<% end %>