<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="input-field col s12">
    <%= f.text_area :content, placeholder: "Your post...", class: "materialize-textarea", id: "textarea1", data: { "length" => "255" } %>
    <%= f.label :content %>
  </div>

  <div class="file-field input-field col s12">
    <div class="btn blue">
      <span>File</span>
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png,image/ico' %>
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text" placeholder="Upload your photo">
    </div>
  </div>

    <%= f.button type: "submit", name: "action", class: "btn btn-large waves-effect waves-light blue white-text" do %>
      Post <i class="material-icons right">check</i>
    <% end %>

<% end %>

<script type="text/javascript">
  $(#micropost_picture).bind('change', function() {
      var size_in_megabytes = this.files[0].size/1024/1024;
      if (size_in_megabytes > 5) {
          alert('Maximum file size is 5MB. Please choose a smaller file.');
      }
  });
</script>