<div class="card-panel blue-grey lighten-5 marginTop center-align">
  <h3 class="blue-grey-text" style="margin-bottom: 15px"><%= @user.name %></h3>
  <div class="col s12">
    <%= link_to gravatar_for(@user), edit_user_path(current_user)%>
  </div>
  <div class="col s12">
    <p><%= @user.email %></p>
  </div>
  <div class="col s12 marginBottom">
    With us for: <%= @user.activated_at.strftime("%B %Y") %><br>
    <%= pluralize(current_user.microposts.count, "micropost") %>
  </div>
  <% unless current_user?(@user) %>
  <div class="col s12 marginBottom">
    <%= render 'users/follow_form' if logged_in? %>
  </div>
  <% end %>
  <div class="stats center-align">
    <%= render 'shared/stats' %>
  </div>
</div>