<div class="marginBottom">
  <%= link_to gravatar_for(current_user, size: 50), current_user, class: "avatar" %>
  <span class="blue-grey-text"><%= current_user.name %>, <%= link_to "view my profile", current_user %></span>
</div>