<div class="row">
  <div class="col s12 m8 offset-m2">
    <div class="card">
      <% if micropost.picture? %>
        <div class="card-image">
          <%= image_tag micropost.picture.url, class: "materialboxed", data: { caption: micropost.content } %>
        </div>
      <% end %>
      <div class="card-content">
        <span class="card-title">
          <%= link_to gravatar_for(micropost.user, size: 35), micropost.user, class: "avatar" %>
          <%= link_to micropost.user.name, micropost.user %>
        </span>
        <p>
          <%= micropost.content %>
        </p>
      </div>
      <div class="card-action">
        <span>
          Posted <%= time_ago_in_words(micropost.created_at) %>
          <% if current_user?(micropost.user) %>
            <%= link_to "delete", micropost, method: :delete, data: { confirm: "You sure?" } %>
          <% end %>
        </span>
      </div>
    </div>
  </div>
</div>