@import "materialize";
@import "materialize/components/forms/input-fields";

/* ----- MIXINS, VARIABLES etc ----- */
$primary-blue: #2196F3;
$main-red: #f44336;
$main-green: #2DAC5C;
$main-gray: #777;

@mixin box_sizing {
  -mox-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* styles only desktop */
@media #{$medium-and-up} {
  .howToWorks {
    padding-top: 70px;
    padding-bottom: 70px;
    h2 {
      font-size: 2.5em;
      padding-bottom: 25px;
    }
    .col {
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }
}

/* ----- GENERAL TAGS ----- */

body {
  font-family: 'Montserrat', sans-serif;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: $main-gray;
}

h3 {
  font-size: 1.5em;
  margin: 0;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* ----- DEBUG MODE WINDOW ----- */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  background: #c1c1c1;
  @include box_sizing;
}

/* ----- NAVBAR ----- */

nav.nav-extended .nav-wrapper {
  min-height: 64px;
}

nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
  height: 64px;
  line-height: 64px;
}

.navbar-fixed {
  height: 56px;
}

.brand-logo {
  transition: all 0.2s ease-in-out;
  &:hover {
    opacity: 0.8;
  }
}

/* ----- MAIN HEADER ----- */

.first-home-header {
  letter-spacing: 4px;
}
.second-home-header {
  font-weight: 200;
}

.background-image {
  width: auto;
  height: calc(100vh - 56px);
  display: block;
  margin-top: 0;
  position: relative;
  background: linear-gradient(90deg, rgba(2,0,36,0.7) 6%, rgba(25,98,156,0.7) 100%),
    /* image */
  url(background.jpg);
  background-size: cover;
}

.container {
  height: inherit;
}

.welcome {
  box-shadow: none;
  width: 90vh;
}

.valign-center {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ----- SECTION 'HOW TO WORKS' ----- */

.card-how-works {
  transition: all 0.2s ease-in-out;
}

/* ----- STYLES FOR INPUTS ----- */

/* label color */
.input-field label {
  color: $primary-blue !important;
}

/* label focus color */
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
  color: $primary-blue !important;
}

/* label underline focus color */
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
  border-bottom: 1px solid $primary-blue !important;
  box-shadow: 0 1px 0 0 $primary-blue !important;
}

/* valid color */
.input-field input[type=email].valid {
  border-bottom: 1px solid $main-green !important;
  box-shadow: 0 1px 0 0 $main-green !important;
}

/* invalid color */
.input-field input[type=email].invalid {
  border-bottom: 1px solid $main-red !important;
  box-shadow: 0 1px 0 0 $main-red !important;
  color: $main-red !important;
}

/* input underline */
input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
  &:focus:not([readonly]) {
    border-bottom: 1px solid $primary-blue;
    box-shadow: 0 1px 0 0 $primary-blue;
  }
}

/* dot for errors */
.with_dot li {
  margin-left: 30px;
  list-style-type: disc !important;
}

.row h2 {
  font-size: 2.5em;
  padding-bottom: 25px;
}

/* ----- PAGINATION ----- */

.pagination {
  text-align: center;
}

/* ----- MICROPOSTS ----- */

.avatar {
  vertical-align: middle;
  display: inline-block;
  margin-right: 13px;
}

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $main-gray;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* ----- MOBILE NAV ----- */

.sidenav-overlay {
  z-index: 1!important;
}

/* ----- MARGINS ----- */

.marginTop {
  margin-top: 50px;
}

.marginBottom {
  margin-bottom: 25px
}

.stat {
  margin-top: 25px;
}