<footer class="page-footer blue">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Social Posts</h5>
        <p class="grey-text text-lighten-4">Get all your posts in one place - very simple application to write posts for your friends</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
          <ul>
            <li><%= link_to "Sign up",   signup_path, class: 'grey-text text-lighten-3' %></li>
            <li><%= link_to "Log in",   login_path, class: 'grey-text text-lighten-3' %></li>
            <li><%= link_to "Help",   help_path, class: 'grey-text text-lighten-3' %></li>
            <li><%= link_to "Contact", contact_path, class: 'grey-text text-lighten-3' %></li>
          </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2018 Copyright by Kamil Pikula
    </div>
  </div>
</footer>