<header class="navbar-fixed">
  <nav>
    <div class="nav-wrapper blue">
      <div class="container">
        <%= link_to "Social Posts", root_path, id: "logo", class: "brand-logo" %>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <%= render 'layouts/nav' %>
        <!-- TEST MOBILE NAV -->
        <%= render 'layouts/nav_mobile' %>
      </div>
    </div>
  </nav>
</header>