<ul class="sidenav" id="mobile-demo">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Help", help_path %></li>
  <% if logged_in? %>
    <li><%= link_to "Users", users_path %></li>
    <li class="divider" tabindex="-1"></li>
    <li><%= link_to "My profile", current_user %></li>
    <li><%= link_to "Settings", edit_user_path(current_user) %></li>
    <li><%= link_to "Log out", logout_path, method: :delete %></li>
  <% else %>
    <li><%= link_to "Log in", login_path %></li>
  <% end %>
</ul>