<ul class="right hide-on-med-and-down">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Help", help_path %></li>
  <% if logged_in? %>
    <!-- Dropdown Trigger -->
    <li><%= link_to "Users", users_path %></li>
    <li>
      <%= link_to '#', class: "dropdown-trigger", 'data-target': "dropdown1" do %>
        Account<i class="material-icons right">arrow_drop_down</i>
      <% end %>
    </li>

    <!-- Dropdown Structure -->
    <ul id='dropdown1' class='dropdown-content'>
      <li><%= link_to "My profile", current_user, class: "blue-text" %></li>
      <li><%= link_to "Settings", edit_user_path(current_user), class: "blue-text" %></li>
      <li class="divider" tabindex="-1"></li>
      <li><%= link_to "Log out", logout_path, class: "blue-text", method: :delete %></li>
    </ul>
  <% else %>
    <li><%= link_to "Log in", login_path %></li>
  <% end %>
</ul>