<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <% if logged_in? %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "card-panel #{message_type} lighten-4 #{message_type}-text text-darken-4") %>
      <% end %>
      <%= yield %>
    </div>
    <% else %>
    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "card-panel #{message_type} lighten-4 #{message_type}-text text-darken-4") %>
    <% end %>
        <%= yield %>
    <% end %>
    <%= render 'layouts/footer' %>
    <!--<#%= debug(params) if Rails.env.development? %> -->
    <%= render 'layouts/scripts' %>
  </body>
</html>
